/* Palette
 * pink		=	#fe0096
 * yellow	=	#ffe50d
 */

html {
	background: linear-gradient(#AAA, #222) fixed;
}

body {
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: normal;
	margin: 16px;
}

p {
	margin: 16px;
}

.error {
	color: red;
	font-weight: bold;
}

#wrapper {
	background: white;
	min-width: 700px;
	width: 60%;
	margin: 0 auto;	
	padding-bottom: 12px;
	padding-top: 1px;
}
